.Hero {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  position: relative;
}
.Hero .video_bg {
  position: absolute;
  /* top: 0; */
  width: 100vw;
  height: 100vh;
}
.Hero video {
  height: 100vh;
  width: 100vw;
}
.Hero img {
  position: absolute;
  width: 400px;
}
.arrowright {
  z-index: 99;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  animation: blink 0.5s ease-in-out alternate-reverse infinite;
}
@keyframes blink {
  100% {
    scale: 1.16;
  }
}

@media screen and (max-width: 600px) {
  .arrowright {
    display: none;
    /* width: 80px; */
  }
}
